<div class="header clearfix">
  <nav class="navbar navbar-default" role="navigation">
    <% if (locals.username) { %>
      <p>Hello, <%= locals.username %>
        <form action="/logout" method="POST">
          <input id="locals.username" type="submit" value="logout">
      </p>
   <% } else { %>
      <form action="/login" method="POST">
        <label for="username">username:</label>
        <input id="username" type="text" name="username">
        <input type="submit" value="login">
      </form>
    <% } %>
  </nav>
</div>