<div class="header clearfix">
  <nav class="navbar navbar-default" role="navigation">
    <form action="/login" method="POST">
      <lable for="username">username:</label>
      <input id="username" type="text" name="username">
      <input type="submit" value="login">
    </form>
  </nav>
</div>