<div class="header clearfix">
  <nav class="navbar navbar-default" role="navigation">
    <% if (locals.users) { %>
      <p>Hello, <%= locals.users %>
        <form action="/logout" method="POST">
          <input id="locals.users" type="submit" value="logout">
      </p>
   <% } else { %>
      <form action="/login" method="POST">
        <label for="users">users:</label>
        <input id="users" type="text" name="users">
        <input type="submit" value="login">
      </form>
    <% } %>
  </nav>
</div>