<div class="header clearfix">
  <nav class="navbar navbar-default" role="navigation">
    <% if (user) { %>
      <p>Hello,
        <form action="/logout" method="POST">
          <input id="locals.users" type="submit" value="logout">
        </form>
      </p>
    <% } else { %>
      <form action="/login" method="GET">
      <input type="submit" value="login">
      </form>
      <form action="/register" method="GET">
      <input type="submit" value="register">
      </form>
    <% } %>
  </nav>
</div>