<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header><% include partials/_header %></header>
    <ul>
    <% for(let key in urls) { %>
      <li>
      <%= key %> : <%= urls[key].longURL %> :
        <form action="/urls/<%= key %>" method="GET" >
          <button>Edit</button>
        </form>
        <form action="/urls/<%= key %>/delete" method="POST" >
          <button>Delete</button>
        </form>
      </li>
    <% } %>
    </ul>
</body>
</html>

