<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  </header>
     <form action="/urls/" method="POST" style="margin:150px;">
      <p>
        <label for="longURL">Short URL: <%= shortURL %></label>
      </p>
      <p>
        <input id="longURL" type="text" name="longURL" value="<%= fullURL %>" style="width:
         300px">
      </p>
      <p>
        <input type="submit" value="Update">
      </p>
</body>
</html>