<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header></header>
    <ul>
    <% for(let item in urls) { %>
      <li>
      <%= item %> : <%= urls[item] %> :
        <form action="/urls/<%= item %>" method="GET" >
          <button>Edit</button>
        </form>
        <form action="/urls/<%= item %>/delete" method="POST" >
          <button>Delete</button>
        </form>
      </li>
    <% } %>
    </ul>
</body>
</html>

