<!DOCTYPE>
<html lang="en">
  <head></head>
  <body>
    <form action="/register" method="POST">
      <p>
        <label for="email">email</label>
        <input id="email" type="email" name="email">
      </p>
      <p>
        <label for="password">password</label>
        <input id="password" type="password" name="password">
      </p>
      <p>
        <input type="submit" value="register">
      </p>
    </form>

  </body>
</html>